@keyframes loader{
    25%{
        color: #2ecc71;
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes up_down{
    0%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(-15px);
    }
}